<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все новости</title>
</head>
{% if newsmodel %}
<body>
<p>{{newsmodel.title}}</p>
<p>{{newsmodel.content}}</p>
<p>{{newsmodel.datecreated}}</p>
<p>{{newsmodel.date_redacted}}</p>
<p>{{newsmodel.flag_active}}</p>
{% else %}
<p>Новостей нет</p>
{% endif %}
<hr>
{% if newsmodel.comms %}
{% for i in newsmodel.comms.all %}
<p>{{i.name}}:</p>
<p>{{i.text}}</p>
{% endfor %}
{% else %}
<p>Комментариев нет</p>
{% endif %}
</body>
<hr>
<a href ='http://127.0.0.1:8000/news/makecomm/'>Написать новый комментарий</a>
</html>