<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h2>Я - Главная страница </h2>

{% if request.user.is_authenticated %}
<h3>Добро пожаловать на сайт {{ request.user.username }}!</h3>
Вас зовут {{ request.user.first_name }}, ваша фамилия {{ request.user.second_name }} !

<a href = "{% url 'logout' %}">Нажмите чтобы выйти из сессии</a>
{% else %}
<h3>Вы не авторизованы на сайте.</h3>
<a href="{% url 'login' %}"> Войти</a>
{% endif %}

</body>
</html>