<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{advertisement.title}}</title>
</head>
<body>

<h1>Заголовок {{advertisement.title}}</h1>
<p>Кто продает {{advertisement.name}}</p>
<p>Описание товара {{advertisement.description}}</p>
<p>Цена {{advertisement.price}}</p>
<p>Тип {{advertisement.type.name}}</p>
<p>Контактная информация {{advertisement.author.name}} {{advertisement.author.email}} {{advertisement.author.phone_nubmer}}</p>
<p>Количество просмотров {{advertisement.veiws_count}}</p>
</body>
<a href="http://127.0.0.1:8000/">Главная</a>

</html>